.card{
    max-width: 500px;
    height: max-content;
    margin: 25px auto;
    border: 1px solid rgb(173,173,173);
    border-radius: 5px;
}
.card-header{
    display: flex;
}
.card-header >h5{
    margin: 0;
    padding: 11px;
}
.card-header img{
 width: 30px;
 border-radius: 50%;
 height: auto;
 object-fit: contain;
 padding: 5px;
}
.cardpic img{
    width: 100%;
}
.card-content{
    text-align: left;
    line-height: 4px;
    padding: 3px 10px;
    border-bottom: 1px solid rgb(173,173,173);
}
.comment{
    display: flex;
    align-items: center;
}
.comment input{
    width: 74%;
margin: 0;
outline: none;
border: none;
padding: 10px;
}